# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/bin
/PR1_1/nbproject/private/
/PR1_1/build/
/PR1_2/nbproject/private/
/PR1_2/build/
/PR1_2/dist/
/PR1_4/nbproject/private/
/PR1_4/build/
/PR1_4/dist/
/PR1_5/nbproject/private/
/PR1_5/build/
/PR1_6/nbproject/private/
/PR1_6/build/
/PR1_6/dist/
/PR2_1/nbproject/private/
/PR2_1/build/
/PR2_1/dist/
/PR2_2/nbproject/private/
/PR2_2/build/
/PR2_2/dist/
/PR2_3/nbproject/private/
/PR2_3/build/
/PR2_3/dist/
/PR2_4/nbproject/private/
/PR2_4/build/
/AmazingRace_1/nbproject/private/
/AmazingRace_1/build/
/AmazingRace_1/dist/
/SwingDemo/nbproject/private/
/SwingDemo/build/
/PR2_5/nbproject/private/
/PR2_5/build/
/PR2_6/nbproject/private/
/PR2_6/build/
/PR2_7/nbproject/private/
/PR2_7/build/
/PR3_1/nbproject/private/
/PR3_1/build/
/PR3_2/nbproject/private/
/PR3_2/build/
/FinalSandbox/nbproject/private/
/FinalSandbox/build/
/FinalSandbox/dist/